---
title: Le Wagon - Middleman
---

<%= partial "layouts/_banner.html.erb" %>
<%= partial "layouts/_card.html.erb" %>



<!--
<div id="home">
  <div class="home-content">
  <%= image_tag "logo.png", width: "170" %>
  <p>
    Middleman is now running!
  </p>
  <p class="about">
    <%= link_to "More about this template", "about.html" %>
  </p>
  </div>
</div>
-->